[Unit]
Description=Apache Tomcat
After=network.target

[Service]
Type=simple
User={{ user }}
Group={{ group }}
ExecStart={{ home_dir }}/latest/bin/catalina.sh run
ExecStop={{ home_dir }}/latest/bin/catalina.sh stop
Restart=on-failure

[Install]
WantedBy=multi-user.target
